---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Grid from '../components/Grid.astro';
import CardPreview from '../components/CardPreview.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { TAXONOMIES } from '../content/config'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
    <div class="site-content-wrap">
      <main>
        <div class="container">
          <Grid>
            {TAXONOMIES.map(({ name, description, slug }) => 
              <CardPreview 
                title={name}
                description={description}
                link={slug}
              />
            )}
          </Grid>
        </div>
      </main>
      <Footer />
    </div>
	</body>
</html>
